body {
    background-color: transparent;
    text-align: center;
    
    border-color: transparent;
    margin: 0 auto;
    width: 30%;
    padding: 250px;
}

h1 {
    color: black; 
    text-align: center;
    font-family: arial;
}


a {
    font-family: verdana;
    font-size: 22px;
    color: black;
}

 